.containerInfo {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: none;
  border-bottom: 1px solid;
border-color: rgba(112, 112, 112,0.1);
padding: 1.2em;
  
}
.containerInfo .texts {
  font-size: 14px;
  color: #707070;
  text-shadow: #0000000D 3px 3px 16px;
  font-family: "Poppins", sans-serif;
 
}

.containerInfo .numbers {
    font-display: swap;
  color: #fa641f;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight:600;
}
.containerInfo .display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0;
}
